In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# Read cleaned data
df = pd.read_csv('video_games_clean.csv')

In [3]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,User_Count
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.53,76.0,8.0,322.0
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.52,82.0,8.3,709.0
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,32.77,80.0,8.0,192.0
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,29.80,89.0,8.5,431.0
4,Wii Play,Wii,2006.0,Misc,Nintendo,28.92,58.0,6.6,129.0
...,...,...,...,...,...,...,...,...,...
6888,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,81.0,8.8,9.0
6889,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.01,80.0,7.6,412.0
6890,Breach,PC,2011.0,Shooter,Destineer,0.01,61.0,5.8,43.0
6891,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.01,60.0,7.2,13.0
6892,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.01,63.0,5.8,8.0

In [4]:
# Shape the data
df.shape

(6893, 9)

In [5]:
# Show first five records
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,User_Count
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.53,76.0,8.0,322.0
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.52,82.0,8.3,709.0
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,32.77,80.0,8.0,192.0
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,29.80,89.0,8.5,431.0
4,Wii Play,Wii,2006.0,Misc,Nintendo,28.92,58.0,6.6,129.0

In [6]:
# Show all columns in the dataframe
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
       'Global_Sales', 'Critic_Score', 'User_Score', 'User_Count'],
      dtype='object')

In [7]:
# Show last 5 rows
df.tail()

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,User_Count
6888,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,81.0,8.8,9.0
6889,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.01,80.0,7.6,412.0
6890,Breach,PC,2011.0,Shooter,Destineer,0.01,61.0,5.8,43.0
6891,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.01,60.0,7.2,13.0
6892,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.01,63.0,5.8,8.0

In [8]:
#Describe the data
df.describe()

       Year_of_Release  Global_Sales  Critic_Score   User_Score    User_Count
count      6893.000000   6893.000000   6893.000000  6893.000000   6893.000000
mean       2007.481793      0.771576     70.261860     7.184985    174.366894
std           4.236497      1.954908     13.859256     1.439028    584.910760
min        1985.000000      0.010000     13.000000     0.500000      4.000000
25%        2004.000000      0.110000     62.000000     6.500000     11.000000
50%        2007.000000      0.290000     72.000000     7.500000     27.000000
75%        2011.000000      0.750000     80.000000     8.200000     89.000000
max        2016.000000     82.530000     98.000000     9.600000  10665.000000

In [14]:
#Group the sales data of each region in Year_of_Release
df_group=df.groupby('Year_of_Release')['Global_Sales'].sum()
df_group

Year_of_Release
1985.0      0.03
1988.0      0.03
1992.0      0.03
1994.0      1.27
1996.0     20.35
1997.0     36.02
1998.0     45.24
1999.0     51.17
2000.0     81.24
2001.0    253.88
2002.0    288.84
2003.0    255.65
2004.0    321.79
2005.0    334.32
2006.0    416.72
2007.0    456.23
2008.0    489.96
2009.0    460.01
2010.0    413.03
2011.0    385.07
2012.0    293.52
2013.0    268.14
2014.0    193.14
2015.0    160.39
2016.0     92.40
Name: Global_Sales, dtype: float64

In [15]:
#Plot the sales data of each region in Year_of_Release, showing which region sales was at peak on which year of release
sns.set_style('darkgrid')
sns.set_context('notebook')
sns.barplot(x='Year_of_Release', y='Global_Sales', data=pd.DataFrame(df_group))
plt.show()

ValueError: Could not interpret input 'Year_of_Release'